examples/**
.github/ISSUE_TEMPLATE/**/*
.github/pull_request_template.md
design/**/*
src/**/*.spec.js
src/testdata.js
.babelrc
.eslintrc.json
.prettierrc
.nvmrc
.travis.yml
webpack.base.config.js
yarn.lock
